<div class="container-fluid">
    <!--nav bar-->
    <div class="row navi sticky-top">
        <div class="col-4 d-flex align-items-center justify-content-between">
            <img id="swiggy" src="assets/img/swiggy.jpeg" alt="swiggy">
            <div class="btn-group">
                <button id="cid" type="button" class="btn btn-danger">Bhilai</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Bhilai</a>
                    <a class="dropdown-item" href="#">Pune</a>
                    <a class="dropdown-item" href="#">Mumbai</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
        <div class="col-8 d-flex align-items-center justify-content-end">
            <input type="button" class="btn btn-dark mr-3" value="Home" />
            <input type="button" class="btn btn-danger mr-3" value="About Us" />
            <input type="button" class="btn btn-danger mr-3" value="Offers" />
            <input type="button" class="btn btn-danger mr-3" value="Sign In" />
            <input type="button" class="btn btn-danger mr-3" value="Cart" />

        </div>
    </div>
    <router-outlet></router-outlet>
</div>