<div class="container-fluid">
    <!--nav bar-->
    <div class="row navi sticky-top">
        <div class="col-4 d-flex align-items-center justify-content-between">
            <img id="swiggy" src="assets/img/swiggy.jpeg" alt="swiggy">
            <div class="btn-group">
                <button id="cid" type="button" class="btn btn-danger">Bhilai</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Bhilai</a>
                    <a class="dropdown-item" href="#">Pune</a>
                    <a class="dropdown-item" href="#">Mumbai</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
        <div class="col-8 d-flex align-items-center justify-content-end">
            <input type="button" class="btn btn-dark mr-3" value="Home" />
            <input type="button" class="btn btn-danger mr-3" value="About Us" />
            <input type="button" class="btn btn-danger mr-3" value="Offers" />
            <input type="button" class="btn btn-danger mr-3" value="Sign In" />
            <input type="button" class="btn btn-danger mr-3" value="Cart" />

        </div>
    </div>

    <!--middle div-->
    <div class="row mid-div">
        <div class="city">
            <i class="fa fa-map-marker" id="i"></i>
            {{cityName}}
        </div>
        <div class="info">
            Hungry and Tired? <br>
            These restaurants deliver to you fast
        </div>
    </div>

    <!--restaurants-->
    <div class="row row1">
        <div class="col-3 col-div m-4">
            <img id="img-f" src="assets/img/domino's.jpg" alt="home">
            <div class="resto-name">
                {{resto1}}
            </div>
            <div class="resto-info">
                {{restoInfo1}}
            </div>
            <div class="btn">
                <button class="btn bg-secondary">
                    {{btn}}
                </button>
            </div>

        </div>
        <div class="col-3 col-div m-4">
            <img id="img-f" src="assets/img/macdy.png" alt="home">

            <div class="resto-name">
                {{resto2}}
            </div>
            <div class="resto-info">
                {{restoInfo2}}
            </div>
            <div class="btn">
                <button class="btn bg-secondary">
                    {{btn}}
                </button>
            </div>
        </div>
        <div class="col-3 col-div m-4">
            <img id="img-f" src="assets/img/ccd.jpg" alt="home">

            <div class="resto-name">
                {{resto3}}
            </div>
            <div class="resto-info">
                {{restoInfo3}}
            </div>
            <div class="btn">
                <button class="btn bg-secondary">
                    {{btn}}
                </button>
            </div>
        </div>
    </div>
    <div class="row row1">
        <div class="col-3 col-div m-4">
            <img id="img-f" src="assets/img/city1_4.jpg" alt="home">
            <div class="resto-name">
                {{restoInfo4}}
            </div>
            <div class="resto-info">
                {{restoInfo4}}
            </div>
            <div class="btn">
                <button class="btn bg-secondary">
                    {{btn}}
                </button>
            </div>

        </div>
        <div class="col-3 col-div m-4">
            <img id="img-f" src="assets/img/city1_5.jpg" alt="home">

            <div class="resto-name">
                {{resto5}}
            </div>
            <div class="resto-info">
                {{restoInfo5}}
            </div>
            <div class="btn">
                <button class="btn bg-secondary">
                    {{btn}}
                </button>
            </div>
        </div>
        <div class="col-3 col-div m-4">
            <img id="img-f" src="assets/img/city1_6.jpg" alt="home">

            <div class="resto-name">
                {{resto6}}
            </div>
            <div class="resto-info">
                {{restoInfo6}}
            </div>
            <div class="btn">
                <button class="btn bg-secondary">
                    {{btn}}
                </button>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="row footer">
        Rich out to us on:
        <i class="fa fa-twitter" id="idf"></i>
        <i class="fa fa-linkedin" id="idf"></i>
        <i class="fa fa-facebook-official" id="idf"></i>
        <i class="fa fa-whatsapp" id="idf"></i>
    </div>

</div>